<app-navbar [openForm]="handleFormOpen"></app-navbar>


<div class="container" style="margin-top: 7em;">
  <app-activity-dashboard
    [activities]="activities"
    [selectedActivity]="selectedActivity"
    [selectActivity]="handleSelectedActivity"
    [cancelSelectActivity]="cancelSelectedActivity"
    [editMode]="editMode"
    [openForm]="handleFormOpen"
    [closeForm]="handleFormClose"
    [createOrEdit]="handleCreateOrEditActivity"
    [deleteActivity]="handleDeleteActivity"
  ></app-activity-dashboard>
</div>

