<div class="card">
  <div class="card-body">
    <form #activityForm = "ngForm" (ngSubmit)="handleSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" name="title" [ngModel]="activity.title">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="2" placeholder="Description" name="description" [ngModel]="activity.description">{{activity.description}}</textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Category" name="category"  [ngModel]="activity.category">
      </div>
      <div class="form-group">
        <input type="date" class="form-control"  name="date"   placeholder="dd/mm/yyyy" bsDatepicker [ngModel]="activity.date">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="city" placeholder="City" [ngModel]="activity.city">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="venue" placeholder="Venue" [ngModel]="activity.venue">
      </div>
      <div class="form-group">
        <button [disabled]="submitting" class="btn btn-success float-right" type="submit">
          <span *ngIf="submitting" class="spinner-border spinner-border-sm"></span>
          Submit</button>
        <button [disabled]="submitting" class="btn btn-secondary float-right mr-2" type="button" (click)="closeForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>

