<div class="row">
  <div class="col-8">
    <app-activity-list
      [activities]="activities"
      [selectActivity]="selectActivity"
      [deleteActivity]="deleteActivity"
      [submitting]="submitting"
    ></app-activity-list>
  </div>

  <div class="col-4">
    <app-activity-details
      *ngIf="selectedActivity && !editMode"
      [activity]="selectedActivity"
      [cancelSelectActivity]="cancelSelectActivity"
      [openForm]="openForm"
    ></app-activity-details>
    <app-activity-form
      [activity]="selectedActivity"
      *ngIf="editMode"
      [closeForm]="closeForm"
      [createOrEdit]="createOrEdit"
      [submitting]="submitting"
    ></app-activity-form>
  </div>
</div>
